@charset "UTF-8";
@import 'public';


.about {
	margin-top: px2em(58px);
	.banner {
		width: 100%;
		font-size: 0;
		position: relative;
		overflow: hidden;
		img {
			position: relative;
			width: 200%;
			max-width: 200%;
			left: 50%;
			transform: translateX(-50%);			
		}
		.text {
		    color: #fff;
		    font-size: 20px;
		    position: absolute;
		    top: 50%;
		    left: px2em(27px);
		}		
	}	
	.contentss {
		margin: 0 auto;
		width: 100%;
		padding: 0 px2em(10px);
		box-sizing: border-box;	
		margin-top: px2em(20px);
		margin-bottom: px2em(20px);
		.introduct {
		    margin-top: px2em(20px);
		    margin-bottom: px2em(20px);
		    font-size: 0;
			.right {
			    display: inline-block;
			    vertical-align: middle;
			    box-sizing: border-box;
				width: 100%;
				margin-bottom: px2em(10px);
				.one {
				    text-align: center;
				    margin-bottom: px2em(10px);
				    font-size: 22px;
				}
				.two {
				    font-size: 12px;
				    line-height: px2em(24px);
				    color: rgb(51, 51, 51);
				}				
			}  
			.left {
			    width: 100%;
			    display: inline-block;
			    vertical-align: middle;
			    box-sizing: border-box;
			    img {
			    	width: 100%;
			    }
			}			  
		}					
	}

	.development {
		text-align: center;
		.tit {
			font-size: 22px;
			margin-bottom: px2em(10px);
			color: #333;
		}
		.swipers {
			background-image: url('../../assets/img/aboutImg/swiper_bg.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			.swiper_item {
				.text1 {
					font-size: 20px;
					color: #fff;
					margin-top: px2em(50px);
				}
				.text2 {
					line-height: px2em(22px);
					font-size: 12px;
					color: #fff;
				}					
			}
		}	
	}




	.contact {
		width: 100%;
		padding: 0 px2em(10px);
		box-sizing: border-box;
		margin-top: px2em(20px);
		margin-bottom: px2em(20px);
		.tit {
		    text-align: center;
		    font-size: 22px;
		    margin-bottom: px2em(15px);
		}		
		.con {
		    font-size: 0;
			.item {
			    position: relative;
			    border: 1px solid #e5e5e5;
			    outline: 1px solid transparent;
			    display: inline-block;
				width: 100%;
				margin-right: 0;
				margin-bottom: px2em(10px);
				height: px2em(100px);
				.item_con {
				    font-size: 12px;
				    color: #333;
				    position: absolute;
				    top: 50%;
				    left: 50%;
				    transform: translate(-50%, -50%);
				    width: 100%;
				    box-sizing: border-box;
				    padding: 0 px2em(5px);
				    text-align: center;
					.left {
					    display: inline-block;
					    vertical-align: middle;
					    margin-right: px2em(10px);
					    i {
					    	font-size: 30px;
					    }
					}
					.right {
					    line-height: px2em(22px);
					    display: inline-block;
					    text-align: left;
					    vertical-align: middle;
					    max-width: 76%;
					    .one {
					    	color: #333;
					    }
					    .two {
					    	color: #333;
					    }			    
					}					
				}				
			}		    
		}				
	}
}
