@charset "UTF-8";
@import 'public';

.index {
	margin-top: px2em(58px);	
	.swiper {
		.swiper_item {
			position: relative;
			img {
				width: 100%;
			}
			.info {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 10%;
					color: #fff;
					width: 80%;
					text-align: left;
				.text1 {
					font-size: 14px;
					line-height: px2em(20px);
				}
				.text2 {
					font-size: 18px;
					font-weight: bold;
				}	
				.more {
					font-size: 12px;
					width: px2em(90px);
					height: px2em(30px);
					line-height: px2em(30px);
					margin-top: px2em(15px);
					color: #fff;
					text-align: center;
					background: rgba(255, 255, 255, 0.2);
					display: inline-block;
					span {
						margin-right: px2em(5px);
					}
				}



			}
		}
		.vux-indicator {
			a {
				.vux-icon-dot {
					width: px2em(10px);
					height: px2em(10px);
					box-sizing: border-box;
					border: 1px solid #fff;
					background-color: transparent;
					border-radius: 50%;
					&.active {
						background-color: #fff;
					}
				}
			}
		}
	}

	.industry_application {
		width: 100%;
		box-sizing: border-box;
		padding: 0 px2em(10px);
		margin-top: px2em(20px);		
		.title {
			text-align: center;
			font-size: 20px;
			color: #333;
			font-weight: bold;
		}
		.industry {
			width: 100%;
			font-size: 0;
			margin-top: px2em(30px);
			border-bottom: 1px solid #e5e5e5;
			text-align: left;
			.industrys {
				.item {
					width: 16.6%;
					display: inline-block;
					text-align: center;
					margin-bottom: px2em(20px);
					vertical-align: top;	
					.icon {
						width: 100%;
						height: 40px;
						img {
							height: 70%;
						}
					}
					.text {
						font-size: 12px;
						color: #333;
						transition: all 0.4s;						
					}
					&.willHidden {
						display: none;
					}				
				}
			}
			.flexible {
				width: px2em(100px);
				height: px2em(35px);
				line-height: px2em(35px);
				background: #00449b;
				text-align: center;
				display: block;
				position: relative;
				left: 50%;
				transform: translateX(-50%);
				font-size: 0;
				color: #fff;
				cursor: pointer;
				span {
					font-size: 12px;
					display: inline-block;
					.plus {
						margin-right: px2em(10px);
					}
				}
			}
		}
		.agency {
			width: 100%;
			.text {
				margin-top: px2em(20px);
				.one {
					font-size: 12px;
					line-height: px2em(24px);
					.counter1 {
						font-size: 24px;
						color: #00449b;
					}
				}
			}	
			.map {
				margin-top: px2em(20px);
				.phone_map {
					width: 100%;
				}
				.phone_office {
					margin-top: px2em(30px);
					width: 100%;
					.item_s {
						border: 1px solid #00449b;
						text-align: left;
						padding: px2em(20px) 2% px2em(20px) 10%;
						margin-bottom: px2em(17px);
						.tit_s {
						    font-size: 14px;
						    line-height: px2em(24px);
						    margin-bottom: px2em(5px);
							border-bottom: 1px solid #00449b;
							display: inline-block;
						}		
						.con_s {
							span {
							    font-size: 14px;
							    line-height: px2em(24px);
								color: #666;
								display: block;
								&:nth-child(3), &:nth-child(4) {
								    display: inline-block;
								}
							}
						}	
						&.willHidden {
							display: none;
						}			
					}
					.flexible {
					    width: px2em(100px);
					    height: px2em(35px);
					    line-height: px2em(35px);
					    margin-top: px2em(5px);
						background: #00449b;
						text-align: center;
						display: block;
						font-size: 0;
						color: #fff;
						cursor: pointer;
						margin: 0 auto;
						span {
							font-size: 12px;
							&.plus {
							    margin-right: px2em(10px);
							}
						}						
					}					
				}
			}
			.service {
				margin-top: px2em(20px);
				text-align: center;
				.tit {
					font-size: px2em(20px);
					margin-bottom: px2em(15px);
					text-align: center;
				}
				.small_tit {
					font-size: 12px;
					line-height: px2em(24px);
					span {
						color: #00449b;
					}
				}
				.introduce {
				    margin-top: px2em(20px);
				    font-size: 0;
				    .item {
						width: 50%;
						height: auto;
						display: inline-block;
						box-sizing: border-box;
						position: relative;
						vertical-align: top;
						cursor: pointer;
						margin-bottom: px2em(20px);	
						&:before {
							position: absolute;
							content: '';
							height: 100%;
							width: 1px;
							background: #e5e5e5;
							right: 0;
						    margin-top: 0;
						    top: 0%;				
						}
						&:nth-child(2n):before {
						    left: -1px;
						} 							
						.con {
						    position: static;
						    top: 0;
						    left: 0;
						    transform: translate(0, 0);
						    padding: 0 px2em(4px);
						    width: 100%;
							box-sizing: border-box;
							font-size: 0;
							.one {
							    font-size: 14px;
							    color: #00449b;
							}	
							.two {
							    font-size: 12px;
							    line-height: px2em(24px);
							}	
							.three {
							    width: px2em(30px);
							    height: px2em(30px);
							    margin-top: 5px;
								display: inline-block;
								border-radius: 50%;
								text-align: center;
								background: url('../../assets/img/commonImg/right_arrows.png') no-repeat center center;
								background-size: 7px 10px;
								background-color: #00449b;
								transition: all 0.4s;
							}													
						}								    	
				    }
				}
			}
		}
	}


	.company_news {
		padding: 0 px2em(30px);
		margin-top: px2em(50px);
		height: auto;
		width: 100%;
		background: url('../../assets/img/indexImg/info_bg.jpg') no-repeat center center;
		background-size: cover;
		text-align: center;
		box-sizing: border-box;
		.tit {
		    font-size: 20px;
		    padding-top: px2em(20px);
		    padding-bottom: px2em(20px);
		}		
		ul {
		    width: 100%;
		    margin: 0 auto;
		    font-size: 0;
			li {
			    width: 100%;
			    cursor: pointer;
			    margin-right: 0;
			    display: inline-block;
				.con {
				    width: 100%;
				    border: 1px solid #a8b9d0;
				    outline: 1px solid transparent;
				    text-align: center;
				    box-sizing: border-box;
				    padding: px2em(5px) px2em(5px) 0 px2em(5px);
				    font-size: 0;
				    position: relative;
				    transition: all 0.8s;
				    display: inline-block;
				    height: px2em(260px);
				    margin-bottom: px2em(10px);
					.img {
					    width: px2em(150px);
					    height: px2em(150px);
					    border-radius: 50%;
					    overflow: hidden;
					    display: inline-block;
					    position: relative;
					    z-index: 1;
					    margin-top: px2em(10px);
					    img {
					    	max-width: none;
					    }
					    span {
					    	position: absolute;
					    	top: 10%;
					    	left: 50%;
					    	transform: translate(-50%, -50%);
					    	font-size: 16px;
					    }
					}
					.text {
					    margin-top: px2em(30px);
					    overflow: hidden;
					    display: -webkit-box;
					    -webkit-line-clamp: 2;
					    -webkit-box-orient: vertical;
					    word-break: break-all;
					    color: #333;
						font-size: 12px;
						line-height: px2em(24px);
						text-align: center;
						max-height: px2em(48px);
					}	
					.date {
					    position: absolute;
					    width: px2em(52px);
					    height: px2em(52px);
					    background: #00449b;
					    border-radius: 50%;
						right: 25%;
						top: 45%;
					    transition: all 0.8s;
					    z-index: 2;
						.dates {
						    position: absolute;
						    top: 50%;
						    left: 50%;
						    transform: translate(-50%, -50%);
							.month {
							    font-size: 14px;
							    font-weight: bold;
							    color: #fff;
							    width: 100%;
							    display: inline-block;
							}  
							.year {
							    font-size: 12px;
							    opacity: 0.5;
							    color: #fff;
							    width: 100%;
							    display: inline-block;
							}
						}						
					}									
				} 
			}    
		}		
	}


}
















.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}


