@charset "UTF-8";
@import 'public';


.join {
	margin-top: px2em(58px);
	.banner {
		width: 100%;
		font-size: 0;
		position: relative;
		overflow: hidden;
		img {
			position: relative;
			width: 200%;
			max-width: 200%;
			left: 50%;
			transform: translateX(-50%);			
		}
		.text {
		    color: #fff;
		    font-size: 20px;
		    position: absolute;
		    top: 50%;
		    left: px2em(27px);
		}		
	}	

	.contentss {
	    margin: 0 auto;
	    // font-size: 0;
	    position: relative;
	    z-index: 2;
		width: 100%;
		padding: 0 px2em(10px);
		box-sizing: border-box;
		margin-top: px2em(-30px);
		margin-bottom: px2em(20px); 
		.left_nav {
		    width: 100%;
		    background: #00449b;
			padding-top: px2em(20px);
			padding-bottom: px2em(20px);
		    display: inline-block;
		    vertical-align: top;
			.tit {
			    font-size: 30px;
			    text-align: center;
			    color: #fff;
			    margin-bottom: px2em(20px);
			}
			.con {
			    font-size: 0;
				.item {
				    display: inline-block;
				    height: px2em(40px);
				    width: 100%;
				    box-sizing: border-box;
				    padding: 0 px2em(10px);
				    position: relative;
				    transition: all 0.5s;
					&.active {
					    background: #003d8b;
					    .round {
					    	background-color: #fff;
					    }
					}
					.item_con {
					    position: absolute;
					    top: 50%;
					    transform: translateY(-50%);
					    width: 100%;
					    box-sizing: border-box;
						.round {
						    width: px2em(10px);
						    height: px2em(10px);
						    box-sizing: border-box;
						    border: 1px solid rgba(255, 255, 255, 0.3);
						    border-radius: 50%;
						    display: inline-block;
						    vertical-align: middle;
						    margin-right: px2em(25px);
						    transition: all 0.5s;
						}
						.text {
						    color: #fff;
						    display: inline-block;
						    vertical-align: middle;
						    width: 80%;
							font-size: 12px;
							line-height: px2em(22px);
						}						
					}										
				}			    
			}			
		}	
		.right_con {
		    position: relative;
		    z-index: 3;
		    display: inline-block;
		    vertical-align: top;
		    font-size: 14px;
		    background: #fcfcfc;
		    box-sizing: border-box;
			width: 100%;
		    margin-top: px2em(20px);
			.tit {
				font-size: 22px;
				margin-bottom: px2em(20px);
			}
			.con {
			    width: 100%;
				.item {
				    border: 1px solid #cbd2db;
				    box-sizing: border-box;
				    margin-bottom: px2em(10px);
					.one {
					    padding: px2em(10px);
					    font-size: 0;
					    cursor: pointer;
					    transition: all 0.5s;
						.left {
						    font-size: 14px;
						    vertical-align: middle;
						    width: 87%;
						    display: inline-block;
						    box-sizing: border-box;
						    padding-right: px2em(5px);
						}
						.right {
						    border-radius: 50%;
						    width: px2em(30px);
						    height: px2em(30px);
						    line-height: px2em(30px);
						    text-align: center;
						    color: #fff;
						    background: #00449b;
						    vertical-align: middle;
						    display: inline-block;
						    font-size: 14px;
						}
					}
					.two {
					    padding: px2em(10px);
					    font-size: 12px;
						.require {
						    margin-bottom: px2em(20px);
							.item_ss {
							    display: inline-block;
							    margin-right: px2em(25px);
							    &:last-child {
							    	margin-right: 0;
							    }
							}
						}
						.need {
						    display: inline-block;
						    background: #00449b;
						    color: #fff;
						    border: 1px solid #00449b;
						    box-sizing: border-box;
						    transition: all 0.5s;
							height: px2em(40px);
							line-height: px2em(40px);
							padding: 0 px2em(20px);
							font-size: 12px;
							margin-top: px2em(20px);
						}
					}
				}
			}			
		}

	}	



}
